.banner{
    background: url('assets/foto-sekolah-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.crop-img{
    object-fit: cover;
}
